<a href="#!/books">Go back</a>
<div class="card" ng-init="getBook()">
    <div class="card-header">
        {{ book.name }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img src="{{book.image_url}}" alt="">
            </div>
            <div class="col-md-8">
                <p>{{ book.description }}</p>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{ book.name }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pull-right">
    <a href="#!/books/edit/{{ book._id }}">Edit</a> | <a href="#" id="deleteBook" ng-click="removeBook(book._id)">Delete</a>
</div>